.tasks-header {
    display: flex;
    align-items: center;
    padding: 8px 4px 4px 20px;

    &__name-board {
        font-size: 18px;
        font-weight: 700;
        line-height: calc(32 / 18);
        color: #172b4d;
        margin-right: 12px;
    }

    &__button-invite {
        font-size: 14px;
        line-height: calc(32 / 14);
        color: #172b4d;
        background: rgba(0, 0, 0, 0.08);
        border: none;
        border-radius: 3px;
    }
}

.tasks {
    display: flex;
    align-items: flex-start;

    &__column {
        background-color: #ebecf0;
        border-radius: 3px;
        box-sizing: border-box;
        width: 272px;
        padding-top: 10px;
        margin-right: 8px;
        position: relative;

        &:last-child {
            margin-right: 0;
        }
    }

    &__column-title {
        font-size: 14px;
        font-weight: 600;
        line-height: calc(20 / 14);
        color: #172b4d;
        padding-left: 16px;
    }

    &__list {
        padding: 10px 8px;
        list-style: none;
    }

    &__item {
        font-size: 14px;
        line-height: calc(20 / 14);
        color: #172b4d;
        padding: 8px 8px 4px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
        cursor: pointer;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;
    }

    &__button-add {
        display: flex;
        align-items: center;
        border-radius: 0 0 3px 3px;
        color: #5e6c84;
        padding: 8px;
        width: 100%;
        border: none;
        margin-top: -10px;
        background: transparent;
        transition: background 0.25s ease;

        &:hover {
            background: rgba(9, 30, 66, 0.08);
        }

        &:focus {
            outline: none;
        }
    }

    &__button-plus {
        font-size: 18px;
        line-height: calc(20 / 18);
        color: #6b778c;
        display: inline-block;
        margin-right: 2px;
    }

    &__button-text {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(20 / 14);
    }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
