<div class="authentication">
    <div class="authentication__box">
        <div class="authentication__title-block">
            <h1 class="authentication__title">Создать аккаунт Trello</h1>
            <a class="authentication__link" [routerLink]="['/login']">или войдите в аккаунт</a>
        </div>
        <form class="form" [formGroup]="registrationForm">
            <div class="form__item">
                <label for="email" class="form__label">Электронная почта
                    <span class="form__required">*</span>
                </label>
                <input id="email" type="email" placeholder="например, example@mail.com" class="form__field"
                    formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div class="error"
                    *ngIf="registrationForm.controls['email'].errors && !registrationForm.controls['email'].pristine">
                    <span class="error__text" *ngIf="registrationForm.controls['email'].errors.required">Email is
                        required!</span>
                    <span class="error__text" *ngIf="registrationForm.controls['email'].errors.pattern">Email is not
                        valid!</span>
                </div>
            </div>
            <button class="form__button" type="submit" [disabled]="!registrationForm.valid"
                (click)="submit()">Создать новый
                аккаунт</button>
            <button class="form__button-service">
                <span class="form__button-icon"></span>
                <a class="form__button-text">Зарегистрироваться с помощью</a>
            </button>
        </form>

    </div>
</div>
