<div class="popup-task" *ngIf="popup">
    <form class="popup-task__form" [formGroup]="taskForm">
        <textarea class="popup-task__field" formControlName="title" placeholder="Ввести заголовок для этой карточки"
            required></textarea>
        <div class="popup-task__actions">
            <button class="popup-task__button-add" (click)="addTask()" [disabled]="!taskForm.valid">Добавить
                карточку</button>
            <button class="popup-task__button-close" (click)="closePopupTask()">X</button>
        </div>
    </form>
</div>
