.header-home {
    background: #026aa7;
    padding: 4px;
    margin-top: -80px;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: calc(100% / 3);
    }
}

.nav {
    display: flex;
    align-items: center;

    &__link {
        margin-right: 4px;
    }
}

.card {
    border-radius: 3px;
    background-color: hsla(0, 0, 100%, 0.3);
    padding: 4px;
}

.link-home {
    width: 24px;
    display: block;
    text-align: center;
    cursor: pointer;

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        color: #ffffff;
    }
}

.logo-home {
    text-align: center;

    &__link {
        display: block;
        cursor: pointer;
    }

    &__icon {
        width: 80px;
        height: 30px;
        fill: currentColor;
        color: hsla(0, 0, 100%, 0.5)
    }
}

.logout {
    text-align: right;

    &__button {
        width: 28px;
        height: 28px;
        padding: 0;
        border: none;
        background: none;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
        color: #ffffff;
    }
}
