<header class="header-home">
    <div class="header-home__box">
        <nav class="nav header-home__item">
            <a class="card link-home nav__link" routerLink="/boards">
                <svg class="link-home__icon">
                    <use xlink:href="../../assets/svg-sprite.svg#home"></use>
                </svg>
            </a>
        </nav>
        <div class="logo-home header-home__item">
            <a class="logo-home__link" routerLink="/boards">
                <svg class="logo-home__icon">
                    <use xlink:href="../../assets/svg-sprite.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="logout header-home__item">
            <button class="logout__button" (click)="logout()">
                <svg class="card logout__icon">
                    <use xlink:href="../../assets/svg-sprite.svg#logout"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
