<section class="popup-create-board" *ngIf="popup">
    <div class="popup-create-board__box">
        <h3 class="visually-hidden">Создать доску</h3>
        <form class="popup-create-board__form" [formGroup]="boardForm">
            <div class="popup-create-board__content">
                <div class="popup-create-board__field-block" [ngStyle]="{'background': color}">
                    <input class="popup-create-board__field" type="text" placeholder="Добавить заголовок доски"
                        formControlName="title" required>
                    <button class="popup-create-board__button-close" (click)="removePopup()">&times;</button>
                </div>
                <div class="background-board">
                    <ul class="background-board__list">
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--red" 
                                (click)="addRedColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--blue"
                                (click)="addBlueColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--orange"
                                (click)="addOrangeColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--green"
                                (click)="addGreenColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--yellow"
                                (click)="addYellowColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--violet"
                                (click)="addVioletColor()"></button>
                        </li>
                        <li class="background-board__item">
                            <button class="background-board__button background-board__button--pink"
                                (click)="addPinkColor()"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="popup-create-board__button-create" type="submit" [disabled]="!boardForm.valid"
                (click)="createBoard()">Создать
                доску</button>
        </form>
    </div>
</section>
