.tasks {
    &__box {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}

.tasks-column {
    background-color: #ebecf0;
    box-sizing: border-box;
    width: 272px;
    border-radius: 3px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

    &__header {
        padding: 10px 8px 0;
    }

    &__box {
        padding: 5px 8px;
    }

    &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: calc(20 / 14);
        color: #172b4d;
        padding-left: 8px;
    }

    &__cards {
        padding: 5px 0;
    }

    &__card {
        font-size: 14px;
        line-height: calc(20 / 14);
        color: #172b4d;
        padding: 8px 8px 4px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(9,30,66,.25);
        cursor: pointer;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button-add {
        display: flex;
        align-items: center;
        border-radius: 0 0 3px 3px;
        color: #5e6c84;
        padding: 8px;
        width: 100%;
        border: none;
        margin-top: -10px;
        background: transparent;
        transition: background 0.25s ease;

        &:hover {
            background: rgba(9, 30, 66, 0.08);
        }

        &:focus {
            outline: none;
        }
    }

    &__button-plus {
        font-size: 18px;
        line-height: calc(20 / 18);
        color: #6b778c;
        display: inline-block;
        margin-right: 2px;
    }

    &__button-text {
        font-size: 14px;
        font-weight: 400;
        line-height: calc(20 / 14);
    }
}
