<app-header-home></app-header-home>
<main class="main" [ngStyle]="{'background': color}">
    <app-board-header></app-board-header>
    <div class="tasks">
        <div class="box tasks__box">
            <div class="tasks-column" *ngFor="let column of columns">
                <div class="tasks-column__header">
                    <h2 class="tasks-column__title">{{column.title}}</h2>
                </div>
                <div class="tasks-column__box" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)"
                    [cdkDropListConnectedTo]="getColumnIds()" id="{{column.id}}">
                    <div class="cards">
                        <a class="cards__item" *ngFor="let item of column.tasks; let i=index" cdkDrag (click)="addPopupUpdateTask(item)">{{item + "-" +i}}</a>
                    </div>
                </div>
                <button class="tasks-column__button-add" (click)="addFormCreateTask(column.id)" *ngIf="state!==column.id">
                    <span class="tasks-column__button-plus">+</span>
                    <span class="tasks-column__button-text">Добавить карточку</span>
                </button>
                <app-form-create-task *ngIf="state==column.id" (formTask)="state='*'"></app-form-create-task>
            </div>
        </div>
    </div>
</main>
<app-popup-update-task *ngIf="popupUpdateTask" (popupTask)="popupUpdateTask=false"></app-popup-update-task>
