<app-header-home></app-header-home>
<main class="main" [ngStyle]="{'background': color}">
    <app-board-header></app-board-header>
    <div class="tasks">
        <div class="box tasks__box">
            <div class="tasks-column" *ngFor="let column of columns">
                <div class="tasks-column__header">
                    <h2 class="tasks-column__title">{{column.title}}</h2>
                    <button class="tasks-column__button-sort" (click)="sortTasksList(column.id)">↑↓</button>
                </div>
                <div class="tasks-column__box" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event, column.id)"
                    [cdkDropListConnectedTo]="getColumnIds()" id="{{column.id}}">
                    <div class="cards" >
                        <a class="card cards__item" *ngFor="let item of column.tasks; let i=index" cdkDrag>
                            <div class="custom-placeholder" *cdkDragPlaceholder></div>
                            <span class="card__text" (click)="addPopupUpdateTask(item)">{{item.title}}</span>
                            <button class="card__remove-button" type="button" (click)="removeCard(item.id)">X</button>
                        </a>
                    </div>
                </div>
                <button class="tasks-column__button-add" (click)="addFormCreateTask(column.id)" *ngIf="state!==column.id">
                    <span class="tasks-column__button-plus">+</span>
                    <span class="tasks-column__button-text">Добавить карточку</span>
                </button>
                <app-form-create-task *ngIf="state==column.id" (formTask)="state='*'" (createTask)="addTask($event)"></app-form-create-task>
            </div>
        </div>
    </div>
</main>
<app-popup-update-task *ngIf="popupUpdateTask" (popupTask)="popupUpdateTask=false" [task]="task"></app-popup-update-task>
