<div class="authentication">
    <div class="authentication__box">
        <div class="authentication__title-block">
            <h1 class="authentication__title">Создать аккаунт Trello</h1>
            <a class="authentication__link" routerLink="../../auth/login">или войдите в аккаунт</a>
        </div>
        <form class="form">
            <div class="form__item" [formGroup]="registrationEmailForm">
                <label for="email" class="form__label">Электронная почта
                    <span class="form__required">*</span>
                </label>
                <input id="email" type="email" placeholder="например, example@mail.com" class="form__field"
                    formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div class="error"
                    *ngIf="registrationEmailForm.controls['email'].errors && !registrationEmailForm.controls['email'].pristine">
                    <span class="error__text" *ngIf="registrationEmailForm.controls['email'].errors.required">Email is
                        required!</span>
                    <span class="error__text" *ngIf="registrationEmailForm.controls['email'].errors.pattern">Email is not
                        valid!</span>
                </div>
            </div>
            <button class="form__button" type="submit" [disabled]="!registrationEmailForm.valid"
                (click)="registrationEmail()">Создать новый аккаунт</button>
            <button class="form__button-service">
                <svg class="form__button-icon">
                    <use xlink:href="../../assets/svg-sprite.svg#vk"></use>
                </svg>
                <a class="form__button-text">Зарегистрироваться с помощью</a>
            </button>
        </form>
    </div>
</div>
