<div class="board-header">
    <p class="board-header__name-board" (click)="edit=true" *ngIf="edit==false">{{titleBoard}}</p>
    <form class="board-header__form" [formGroup]="formRenameBoard" *ngIf="edit" (keyup.enter)="updateNameBoard(edit=false)">
        <input class="board-header__field-name" formControlName="title" focus 
            (focusout)="edit=false">
    </form>
    <div class="invite">
        <button class="invite__button" type="button" (click)="inviteForm=true">Пригласить</button>
        <app-invite *ngIf="inviteForm" (formInvite)="inviteForm=false"></app-invite>
    </div>
    
</div>
